@page
@model AnalyzeRunModel
@{
    ViewData["Title"] = "Analysis started...";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Results will be sent in an email. Please note that results may take 24 hours or more in some cases.</p>
