@page
@model AnalyzeSettingsModel
@{
  ViewData["Title"] = "Analysis settings";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div class="loading" align="center">
  Loading. Please wait.<br />
  <br />
  <img src="https://www.aspsnippets.com/demos/loader.gif" alt="" />
</div>
<script type="text/javascript">
  var modal, loading;
  function ShowProgress() {
    modal = document.createElement("DIV");
    modal.className = "modal";
    document.body.appendChild(modal);
    loading = document.getElementsByClassName("loading")[0];
    loading.style.display = "block";
    var top = Math.max(window.innerHeight / 2 - loading.offsetHeight / 2, 0);
    var left = Math.max(window.innerWidth / 2 - loading.offsetWidth / 2, 0);
    loading.style.top = top + "px";
    loading.style.left = left + "px";
  };
  ShowProgress();
</script>

<div class="row">
  <div class="col-md-4">
    <form method="get" action="./Search">
      <div asp-validation-summary="All"></div>
      <label asp-for="Settings.StartPersonName"></label>
      <input asp-for="Settings.StartPersonName" class="form-control" readonly="@(true)" />
      <span asp-validation-for="Settings.StartPersonName" class="text-danger"></span>
      <button type="submit" class="btn">Change start person</button>
    </form>


    <form method="post">
      <div asp-validation-summary="All"></div>

      @if (Model.TreeIsFinite)
      {
        <div class="form-group">
          <label asp-for="Settings.CheckWholeFile"></label>
          <input asp-for="Settings.CheckWholeFile" checked class="form-control" />
          <span asp-validation-for="Settings.CheckWholeFile" class="text-danger"></span>
        </div>
      }
      <div class="form-group">
        <label asp-for="Settings.GenerationsBack"></label>
        <input asp-for="Settings.GenerationsBack" value="5" class="form-control" />
        <span asp-validation-for="Settings.GenerationsBack" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Settings.GenerationsForward"></label>
        <input asp-for="Settings.GenerationsForward" value="2" class="form-control" />
        <span asp-validation-for="Settings.GenerationsForward" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Settings.EndYear"></label>
        <input asp-for="Settings.EndYear" value="1900" class="form-control" />
        <span asp-validation-for="Settings.EndYear" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Settings.DuplicateCheck"></label>
        <input asp-for="Settings.DuplicateCheck" checked class="form-control" />
        <span asp-validation-for="Settings.DuplicateCheck" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Settings.ExportGedcom"></label>
        <input asp-for="Settings.ExportGedcom" class="form-control" />
        <span asp-validation-for="Settings.ExportGedcom" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Settings.ExportJson"></label>
        <input asp-for="Settings.ExportJson" class="form-control" />
        <span asp-validation-for="Settings.ExportJson" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Settings.ExportKml"></label>
        <input asp-for="Settings.ExportKml" class="form-control" />
        <span asp-validation-for="Settings.ExportKml" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Settings.UpdateDatabase"></label>
        <input asp-for="Settings.UpdateDatabase" class="form-control" />
        <span asp-validation-for="Settings.UpdateDatabase" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Settings.SendEmail"></label>
        <input asp-for="Settings.SendEmail" checked class="form-control" />
        <span asp-validation-for="Settings.SendEmail" class="text-danger"></span>
      </div>
      <button type="submit" class="btn btn-default" onclick="this.form.submit(); this.disabled=true; this.value='Starting...';">Analyze</button>
    </form>
    <a href="/FamilyTree/UploadFiles/UploadSecond">Compare trees</a>
    </div>
</div>

<script type="text/javascript">
  window.onload = function () {
    document.body.removeChild(modal);
    loading.style.display = "none";
  };
</script>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
