@page
@model UploadFileModel
@{
    ViewData["Title"] = "Upload";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Upload" />
    <input type="submit" />
</form>