@page
@model GeniLoginCheckModel
@{
  ViewData["Title"] = "Geni check";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>You will be taken to the normal geni.com login page if needed.</p>
