@page
@model GeniLoginOkModel
@{
    ViewData["Title"] = "Your Geni login has been authorized";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>Redirecting..</h3>

<p>Use this area to provide additional information.</p>