@page
@model GeniLoginFailedModel
@{
    ViewData["Title"] = "Your Geni login seem to have failed";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>Redirecting..</h3>

<p>Use this area to provide additional information.</p>