@page
@model FamilyTreeServices.Pages.AnalysisResultView.ResumeModel

@{
  ViewData["Title"] = "Resume";
}

<h2>Resume</h2>

<h3>Are you sure you want to resume this?</h3>
<div>
  <h4>Analysis</h4>
</div>
