@page
@model JobModel
@{
    ViewData["Title"] = "Jobs";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This web site is all about helping you focus on the parts of your family tree that makes a difference.</p>
